<div class="wrapper">
  <ProgramHeader></ProgramHeader>
  <section class="cf center w-100 ph2 ph4-m ph6-l bg-navy black" id="">
    <div class="mw8 center tl">
      <div class="cf mt0 tc  pv3 pv5-ns mv2">
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/></a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <router-link tag="div" :to="{name:'program-page'}" class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/></router-link>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/> </a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/> </a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/> </a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-50-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph3 pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph3 mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img
                src="../../assets/images/enroll-text.jpg" class="w-25"/> </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <footer class="cf w-100 pa1 pa1-m pa5-l ph6-ns bg-navy white" id="feafooter">
    <div class="dt w-100 mw8 ph3 ph4-m ph4-l tl center">
      <div class="cf">
        <div class="fl w-100 w-50-l w-50-m avenir">
          <h3 class="f4 fw6 w-90-l ma0-ns pa0-ns white">
            <span class="mr2">Reach us</span> <a class="f5 fw5 white no-underline white"
                                                 href="mailto:activepathways@smartplayds.com">activepathways@smartplayds.com</a>
          </h3>
          <h3 class="f4 fw6 w-90-l ma0-ns pa0-ns white mt4-ns">
            Join our community on <a href="https://www.facebook.com/getwalkers/"
                                     class=" white underline" target="_blank">Facebook</a>
          </h3>
          <div class="pt4">
            <a href="/terms#privacy" target="_blank" class="f6 fw5 white mt1">Privacy Policy</a>
          </div>
          <div class="pt4">
            <a href="/terms#terms" target="_blank" class="f6 fw5 white mt1">Terms Of Use</a>
          </div>
        </div>
        <div class="fl w-100 w-50-l w-50-m">
          <h3 class="f5 fw6 w-90-l ma0-ns pa0-ns white">Active Pathways is an initiative of:
            SMARTplayds Limited</h3>
          <p class="f6 fw5 white mt2">Collaborate Works - Steward House <span class="underline">14 Commercial Way</span>
          </p>
          <p class="f6 fw5 white mt1">Woking GU21 6ET</p>
          <p class="f6 fw5 white mt1">+44 - 203 695 2189</p>
          <p class="f6 fw5 white mt1">Registered in England and Wales 9462175</p>
        </div>
      </div>
    </div>
  </footer>
</div>
