<div class="wrapper avenir">
  <header class="cf w-100 pl3 pr3 ph0-ns bg-white">
    <div class="w-100 w-80-ns center">
      <h3 class="f3 fw2 dark-blue pt2 pb2">CHALLENGE STATES</h3>
    </div>
  </header>
  <section class="cf w-100 ph0 ph6-l pt5 gradient-blue">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">ON HOLD</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <OnHold :challengeData="challengeData"></OnHold>
      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">DOING</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <Doing :challengeData="challengeData"></Doing>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">SKIPPED</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <Skipped :challengeData="challengeData"></Skipped>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">DONE</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <Done :challengeData="challengeData"></Done>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">NOTE DONE</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <NotDone :challengeData="challengeData"></NotDone>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0 mb4">NO CHECK-IN </h2>
      </div>
      <NoCheckIn :challengeData="challengeData"></NoCheckIn>
    </div>
  </section>
</div>
