<div class="wrapper avenir">
  <header class="cf w-100 pl3 pr3 ph0-ns bg-white">
    <div class="w-100 w-80-ns center">
      <h3 class="f3 fw2 dark-blue pt2 pb2">CHALLENGE STATES</h3>
    </div>
  </header>
  <section class="cf w-100 ph0 ph6-l pt5 gradient-blue">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">ON HOLD</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 tl f5 fw6 navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw4 f6 f5-ns mt0 mb3 w-100 w-80-ns center navy">
                This will change things. And we want you to be involved. This text needs to be longer for testing sake.
                Sign up for beta access or learn more about x.
              </p>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  ACCEPT TRAIN
                </a>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib blue b--blue ba pt2 pb2 lh-copy ml2" href="/">
                  SKIP TRAIN
                </a>
              </div>
            </article>

          </div>
        </div>
      </div>
      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">DOING</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 f5 fw6 tl navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw4 f5 mt0 mb3 w-100 w-80-ns center navy">
                This will change things. And we want you to be involved. This text needs to be longer for testing sake.
                Sign up for beta access or learn more about x.
              </p>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  DONE
                </a>
              </div>
            </article>

          </div>
        </div>
      </div>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">SKIPPED</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <div class="w-100 bg-white black br3 mb5 o-90">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 f5 fw6 tl navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db o-90">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw4 f6 f5-ns mt0 mb3 w-100 w-80-ns center navy">
                This will change things. And we want you to be involved. This text needs to be longer for testing sake.
                Sign up for beta access or learn more about x.
              </p>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib blue b--blue ba pt2 pb2 lh-copy ml2" href="/">
                  SKIP TRAIN
                </a>
              </div>
            </article>

          </div>
        </div>
      </div>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">DONE</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 f5 fw6 tl navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db o-90">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Congratulation!
              </h1>
              <h1 class=" f5 f3-ns strike fw6-ns gray lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw5 f6 mt0 mb3 w-100 w-80-ns center navy">
                Well done, how do you feel about it?
              </p>
              <div class="cf db">
                <span class=" dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class=" dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4selected.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
              </div>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt4 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  ADD NOTES
                </a>
              </div>
            </article>

          </div>
        </div>
      </div>

      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0">NOTE DONE</h2>
        <p class="white mb4 f5 fw5">This will change things. And we want you to be involved</p>
      </div>
      <div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 f5 fw6 tl navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db o-90">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Try harder tommarrow!
              </h1>
              <h1 class=" f5 f3-ns strike fw6-ns gray lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw5 f6 f4-ns mt0 mb3 w-100 w-80-ns center navy">
                Well done, how do you feel about it?
              </p>
              <div class="cf db">
                <span class=" dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class=" dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4selected.svg" class="w2"/>
                </span>
                <span class="dib mr1" href="#" title="">
                  <img src="../../assets/images/smile4.svg" class="w2"/>
                </span>
              </div>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt4 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  ADD NOTES
                </a>
              </div>
            </article>

          </div>
        </div>
      </div>
      <div class="cf db tl">
        <h2 class="f3 fw3 white ma0 mb4">NO CHECK-IN </h2>
      </div>
      <div class="w-100 bg-white black br3 mb5 relative">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db">
            <div class="w-40 fl pa1 tl f5 fw6 navy">Program 1</div>
            <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
          </div>
          <div class="cf db">
            <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
              <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
                Day 3 - 01/08
              </h2>
              <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
                Enjoy a short walk after lunch to power your brain
              </h1>
              <p class="fw4 f6 f5-ns mt0 mb3 w-100 w-80-ns center navy">
                This will change things. And we want you to be involved. This text needs to be longer for testing sake.
                Sign up for beta access or learn more about x.
              </p>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  ACCEPT TRAIN
                </a>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib blue b--blue ba pt2 pb2 lh-copy ml2" href="/">
                  SKIP TRAIN
                </a>
              </div>
            </article>

          </div>
        </div>
        <div class="absolute top-0 right-0 bottom-0 left-0 h-100 w-100 z-3 o-90 white f1 pt6 fw6" style="background-color: #50b8e7e6;">?</div>
      </div>
    </div>
  </section>
</div>
