<div class="wrapper avenir">
  <header class="cf w-100 pl3 pr3 ph0-ns bg-white">
    <div class="w-100 w-80-ns center">
      <h3 class="f3 fw2 dark-blue pt2 pb2">DASHBOARD PROPOSAL</h3>
    </div>
  </header>
  <section class="cf w-100 ph0 ph6-l pt5 relative">
    <div class="gradient-blue absolute right-0 left-0 top-0 height-480 z-1"></div>
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
      <div class="w-100 bg-white black br3 mb5 z-3 relative shadow-default pt1">
        <span class=" db bg-washed-blue br4 br--top bt3 ma2">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
        <div class="w-100 pa3">
          <div class="cf db o-90">
            <article class="w-100 mw7 center ph3 ph5-ns tc br2 pv3">
              <h1 class=" b f3 f2-ns navy lh-title mt0 mb3">
                Congratulation, you made it!
              </h1>
              <h1 class=" f5 f5-ns strike fw6-ns gray lh-title mt0 mb3">
                Being active (or inactive) is a consequence of our behaviours and habits
              </h1>
              <p class="fw5 f4 mt0 mb3 w-80 center navy">
                Well done, how do you feel about it?
              </p>
              <div class="cf db">
                <a class="link dim dib mr3 pa0" href="#" title="">
                  <img src="../../assets/images/iconmonstr-smiley-2.svg" class="w3 o-60"/>
                </a>
                <a class="link dim dib mr3 pa0" href="#" title="">
                  <img src="../../assets/images/iconmonstr-smiley-2.svg" class="w3 o-60"/>
                </a>
                <a class="link dim dib mr3 pa0" href="#" title="">
                  <img src="../../assets/images/iconmonstr-smiley-2.svg" class="w3 o-60"/>
                </a>
                <a class="link dim dib mr3 pa0" href="#" title="">
                  <img src="../../assets/images/iconmonstr-smiley-2.svg" class="w3 o-60"/>
                </a>
                <a class="link dim dib mr3 pa0" href="#" title="">
                  <img src="../../assets/images/iconmonstr-smiley-2.svg" class="w3 o-60"/>
                </a>
              </div>
              <div>
                <a class="f6 fw5 link dim br-pill ph4 mb2 mt4 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
                  ADD NOTES
                </a>
              </div>
            </article>
          </div>
        </div>
        <div class="w-100 bg-light-grey-moon">
          <div class="cf db o-90">
            <article class="w-100 mw7 center ph3 ph4-ns tc br2 pv4">
              <div class="cf db">
                <div class="fl w-40 pa2">
                  <div class="w-90 f5 fw5 black-40 tl avenir lh-copy"> Being active (or inactive) is a consequence of our
                    behaviours
                    and habits
                  </div>
                  <div class="w-100 mt5"><img src="../../assets/images/stretching_v4.png"/></div>
                </div>
                <div class="fl w-60 pa2"><p class="f5 fw4 navy tl avenir">Getting awareness of our current behaviours
                  irs the first step to replacing them with new ones, and for this purpose it is essential toidenify
                  cues and triggers that start our habits</p>
                  <p class="f5 fw4 navy tl avenir">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. </p>
                  <p class="f5 fw4 navy tl avenir">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. </p>
                  <p class="f5 fw4 navy tl avenir">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
                    commodo ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. </p>
                </div>
              </div>
              <div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="bg-light-gray">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l pv4 center">
      <h1 class="f3 b dark-blue
 tc o-50">FOOTER</h1>
    </div>
  </footer>
</div>
