<div class="wrapper">
  <section class="cf w-100 ph0 ph6-l ">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
    <div class="cf db mv5">
      <div class="w-50 fl pt5-l pt5-m pt2">
        <h1 class="f3 f1-l f1-m black w-70-l tr fr mt0-ns mb2 right--1 right--2-l relative">Feel more
          confident </h1>
        <a href="/"
           class="f6 f5-l f5-m  fw4 blue fl no-underline w-100  tr pr0 pr5-l pr5-m"> Be more aware of what you can do. Add movement progressively into your life. <i
          class=""><img class="v-mid" src="../../assets/images/romove-icon.png"/></i></a>
      </div>
      <div class="w-50 fl bg-light-gray h4 h5-l h5-m">
      </div>
    </div>
    <div class="cf db mv5">
      <div class="w-50 fl bg-light-gray h4 h5-l h5-m">
      </div>
      <div class="w-50 fl pt5-l pt5-m pt2">
        <h1 class="f3 f1-l f1-m black w-90-l tl fl mt0-ns mb2 left--1 left--2-l relative">Increase your wellbeing </h1>
        <a href="/"
           class="f6 f5-l f5-m  fw4 blue fl no-underline w-100  tl pr0 pr5-l pr5-m">Moving more will help you feel more energised, happier and healthier. <i
          class=""><img class="v-mid" src="../../assets/images/romove-icon.png"/></i></a>
      </div>
    </div>
    <div class="cf db mv5">
      <div class="w-50 fl pt5-l pt5-m pt2">
        <h1 class="f3 f1-l f1-m black w-60 w-60-l w-60-m tr fr mt0-ns mb2 right--1 right--2-l relative">Change your life </h1>
        <a href="/"
           class="f6 f5-l f5-m  fw4 blue fl no-underline w-100  tr pr0 pr5-l pr5-m"> A small step can have an immediate impact, or make a significant difference in your life. <i
          class=""><img class="v-mid" src="../../assets/images/romove-icon.png"/></i></a>
      </div>
      <div class="w-50 fl bg-light-gray h4 h5-l h5-m">
      </div>
    </div>
    </div>
  </section>
  <section class="cf center w-100 ph3 ph6-ns gradient-h" id="features">
    <div class="mw8 center tl bt b--lightest-blue pt4">
      <div class="cf mt0 mb5 tc">
        <div class="w-100-l avenir">
          <h1 class="f1 b white">How it works</h1>
        </div>
        <div class="w-90-m w-100-ns w-34-l  center tl">
          <div class="numberlist">
            <ol>
              <li class="f5 fw5 avenir">Create an account</li>
              <li class="f5 fw5 avenir">Receive a daily challenge on your inbox</li>
              <li class="f5 fw5 avenir">Complete the challenge</li>
              <li class="f5 fw5 avenir">Check-in and reflect!</li>
            </ol>
          </div>
          <div class="w-90-m w-100-ns w-90-l  center">
            <p class="lh-copy-l f5 fw5 white w-90-l ml5 avenir"> Discover opportunities to exercise in your daily routine.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cf center w-100 ph3 ph6-ns bg-white black" id="joinnow">
    <div class="mw8 center tl">
      <div class="cf mt0 mb5 tc  pb4">
        <div class="w-100-l">
          <h1 class="f1 b black avenir">Join now for free</h1>
        </div>
        <div class="w-90-m w-100-ns w-50-l  center">
          <p class="lh-copy-l black f5 fw5 avenir"> Now sweat required - no pressure - no speacial equipment fun guaranteed -
            join
            more
            than 2000 participants</p>
        </div>
        <a class="f5 link b dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy avenir" href="/">
          Get started now
        </a>
      </div>
    </div>
  </section>
  <section class="cf w-100 ph0 ph6-l bggrey-light avenir" id="saying">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l pb5 center tl">
      <div class="cf pt5">
        <article class="pv2 fl w-100 w-60-l w-60-m pr0 pr2-l">
          <h1 class="f1 f1-ns w-90 w-60-l w-80-m b mb1 avenir">What people are saying</h1></article>
      </div>
      <div class="cf mt4">
        <div class="w-100 w-50-l w-50-m fl">
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns">
                “This is a good easy programme that anyone can fit into their day”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "Do it, it works"
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns navy">
                "This programme lets you make small changes that will change your life"
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "This is a simple programme which is easy to follow, I enjoyed the positive encouragement at the end of the day and I look forward to feeling better and fitter as I continue with my walking programme"

              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pa4">
              <h3 class="f4 b ma0-ns pa0-ns navy">
                "Thank you for not putting me off the idea of exercise"

              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 ma0-ns pa0-ns navy">
                "Really enjoyed the week and the different approach. Thinking in small steps did not make it a chore but manageable and fun at times"

              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "This was achievable. Helped me feel positive and enthusiastic. I involved my family and made everyday tasks more enjoyable."
              </h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-50-l w-50-m fl">
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw4 w-100-l ma0-ns pa0-ns navy">
                "I did not realise how many possibilities I had to activate myself. Thanks to Active Pathways I am now more aware of small things which can transform my days into happy days."
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pa3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns navy">
                "Your messages helped me to get moving again. Thank you!"
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "Thank you for the kick up the ... I needed it. My big takeaway is exercise when you get up gives you a buzz which lasts all day. Highly recommend as a really good procrastination buster."

              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "This programme has made me look at life not as a routine but an adventure. Each day it gave me loads to think about."
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "I really enjoyed doing the challenge. Made me think that a small action is still an achievement. Sometimes it can get overwhelmed by the things I should be doing and end up doing nothing. Now I will try and do a little at a time, even if it is just one percent as one percent is better than nothing and is one percent closer to  the job in hand. Thank you Active Pathways for changing my mindset."
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "The programme is excellent as a daily motivational buddy to get you moving."
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "The programme is excellent as a daily motivational buddy to get you moving."
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "Very good for coach potatoes"
              </h3>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <footer class="cf w-100 pa4 ph6-ns bg-light-gray black" id="feafooter">
    <div class="dt w-100 mw8 ph3 ph6-m ph6-l tl center">
      <div class="cf">
        <div class="f3 f2-ns b w-30 avenir">Footer</div>
      </div>
    </div>
  </footer>
</div>
