.read-more {
  color: #408BC9;
 position: relative;
}
.read-more a {
  color: #408BC9;
  text-decoration: none;
}
.read-more a:hover {
  color: #408BC9;
}
.read-more:after {
  content: "";
  display: inline-block;
  background-color: #408BC9;
  width: 28px;
  height: 7px;
  border-radius: 100px;
  position: absolute;
  right: 20px;
  top: 25px;
}
.read-more.mid-outbox:after {
  left: 20px;
}
.circle-whit span {
  height: 2em;
  width: 2em;
  background-color: #fff;
  border-radius: 50%;
  color: #001b44;
  text-align: center;
  display: block;
  position: relative;
  z-index:1;
  clear: both;
  margin-right: 29px;
  float: right;
  line-height: 2em;
  font-weight: 500;
  font-family: 'Avenir';
  margin-bottom: 45px;
}
.circle-whit span:after {
  content: '';
  border-right: 5px solid #fff;
  height: 10vh;
  display: inherit;
  margin-right: 14px;
  text-align: center;
  z-index: 1;
}
.circle-whit span:last-child:after {
  content:'';
  border-right: transparent;
  height: auto;
}
.circle-whit span:last-child {
  margin-bottom: 0;
}
.stretching-img-small {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*background-image: url(../../assets/images/Stretching_V1.png);*/
}
@media screen and (max-width: 30em) {
  .read-more:after {
    display: none;
  }
}
