<div class="wrapper">
  <section class="cf w-100 ph0 ph6-l mt4">
    <div class="dt w-100 mw8 ph4 ph4-m ph3-l center">
      <div class="cf db mv5 avenir">
        <div class="w-50 fl pt5-l pt5-m pt2">
          <h1 class="f4 f1-l f1-m navy w-70-l b tr fr mt0-ns mb2 right--1 right--2-l relative">Feel more
            confident </h1>
          <div
            class="read-more f6 f5-l f5-m fw5 fl w-100  tr pr2 pr5-l pr5-m mt1">Be more aware of what you can do. Add
            movement
            progressively into your life.
          </div>
        </div>
        <div class="w-50 fl bg-light-gray h4 h5-l h5-m stretching-img-small"
             style=" background-image: url('https://res.cloudinary.com/drj4dg734/image/upload/v1520963115/Activepathways/assets/lp_feel_confident.png');">
        </div>
      </div>
      <div class="cf db mv5 avenir">
        <div class="w-50 fl h4 h5-l h5-m stretching-img-small"
             style=" background-image: url('https://res.cloudinary.com/drj4dg734/image/upload/v1520963115/Activepathways/assets/lp_dancer_increase_wellbeing.jpg');">
        </div>
        <div class="w-50 fl pt5-l pt5-m pt2">
          <h1 class="f4 f1-l f1-m navy w-90-l tl b fl mt0-ns mb2 left--1 left--2-l relative">Increase your
            wellbeing </h1>
          <div
            class="read-more mid-outbox f6 f5-l f5-m  fw5 fl w-100  tl pr0 pl5-l pl5-m pl0 mt2">Moving more will help
            you feel more
            energised, happier and healthier.
          </div>
        </div>
      </div>
      <div class="cf db mv5 avenir">
        <div class="w-50 fl pt5-l pt5-m pt2">
          <h1 class="f4 f1-l f1-m navy w-70 b w-60-l w-70-m tr fr mt0-ns mb2 right--1 right--2-l relative">Change your
            life </h1>
          <div
            class="read-more f6 f5-l f5-m fw5 fl w-100  tr pr2 pr5-l pr5-m mt3">A small step can have an immediate
            impact, or
            make a significant difference in your life
          </div>
        </div>
        <div class="w-50 fl bg-light-gray h4 h5-l h5-m stretching-img-small"
             style=" background-image: url('https://res.cloudinary.com/drj4dg734/image/upload/v1520963115/Activepathways/assets/lp_walk_with_friend_change_life.jpg');">
        </div>
      </div>
    </div>
  </section>
  <section class="cf center w-100 ph3 ph2-m ph5-l gradient-h" id="features">
    <div class="mw8 center tl bt b--lightest-blue pt4">
      <div class="cf mt0 mb5 tc">
        <div class="w-100-l avenir">
          <h1 class="f2 f1-m f1-l b white">How it works</h1>
        </div>
        <div class="cf db w-80 w-34-l w-50-m center">
          <div class="fl w2 circle-whit mt3 how-it-work-circle">
            <span>1</span>
            <span class="circle-2">2</span>
            <span class="circle-3">3</span>
            <span>4</span>
          </div>
          <div class="fl w-100 numberlist tl center">
            <ol class="avenir">
              <li class="f5 f4-m f4-l fw5 avenir">Create an account</li>
              <li class="f5 f4-m f4-l fw5 avenir">Receive a daily challenge on your inbox</li>
              <li class="f5 f4-m f4-l fw5 avenir">Complete the challenge</li>
              <li class="f5 f4-m f4-l fw5 avenir">Check-in, reflect and celebrate!</li>
            </ol>
          </div>
          <div class="cf db">
            <div class="w-90-m w-100 w-90-l tl  center">
              <p class="lh-copy-l f5 f4-m f4-l fw5 white w-100-l ml3 pl1 avenir"> Discover opportunities to exercise in
                your daily
                routine.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cf center w-100 ph3 ph4-m ph6-l bg-near-white black" id="">
    <div class="mw8 center tl">
      <div class="cf mt0 tc  pb5 pt5 mt2 mb2">
        <div class="cf ph2-ns">
          <div class="fl w-50 w-50-ns pb4 pl2 pl0-m pl0-l">
            <div class="f2 fw4 navy tl"><span class="dn di-m di-l">Our</span> programs</div>
          </div>
          <router-link tag="div" :to="{name:'programs-catalogue'}" @click="" class="fl w-50 w-50-ns pb4 pt3 pr2 pr0-m pr0-l">
            <div  class="f4 fw6 tr dark-blue pointer">SEE ALL <span class="dn di-m di-l">PROGRAMS</span></div>
          </router-link>
        </div>
        <div class="fl w-100 w-third-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-1.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3 relative">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph4 ph3-m ph4-l pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph4 ph3-m ph4-l mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img src="../../assets/images/enroll-text.jpg" class="w-25"/> </a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-third-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-2.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph4 ph3-m ph4-l pt3">Program title</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph4 ph3-m ph4-l mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img src="../../assets/images/comming-soon-text.jpg" class="w-50"/></a>
            </div>
          </article>
        </div>
        <div class="fl w-100 w-third-m w-third-l pa3">
          <article class="br3 bg-white center shadow-default">
            <img
              src="../../assets/images/card-img-3.jpg" class="db w-100 br3 br--top"
              alt="Photo of a kitten looking menacing.">
            <div class="pa0 pb3">
              <div class="dt w-100 mt1">
                <div class="dtc">
                  <h1 class="f3 f4-m f3-l mv0 tl fw2 navy ph4 ph3-m ph4-l pt3">Your Program here</h1>
                </div>
              </div>
              <p class="lh-copy-l f5 fw5 avenir navy tl ph4 ph3-m ph4-l mt3 pb3 elips-text-lent">
                If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                and touch water with paw then recoil in horror.
              </p>
              <div class="bb b--black-10"></div>
              <a class="f4 f5-m f4-l fw6 db blue link dim pv2 mt3" href="#0"><img src="../../assets/images/become-text.jpg" class="w-50"/></a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section class="cf center w-100 ph3 ph6-ns bg-white black" id="joinnow">
    <div class="mw8 center tl">
      <div class="cf mt0 mb5 tc  pb4">
        <div class="w-100-l">
          <h1 class="f3 f1-m f1-l black avenir">Join now for free</h1>
        </div>
        <div class="w-90-m w-100-ns w-50-l  center">
          <p class="lh-copy-l black f5 fw5 avenir"> No sweat required - No pressure - No special equipment - Fun
            guaranteed - Join more than 2000 participants!</p>
        </div>
        <a class="f5 link b dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy avenir pointer"
           @click.prevent="activeModal = 'signup'; openModal('Get started now button', 'signup')">
          Get started now
        </a>
      </div>
    </div>
  </section>
  <section class="cf w-100 ph0 ph6-l bggrey-light avenir" id="saying">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l pb5 center tl">
      <div class="cf pt5">
        <article class="pv2 fl w-100 w-60-l w-60-m pr0 pr2-l">
          <h1 class="f2 f1-m f1-l w-90 w-60-l w-80-m b mb1 avenir navy">What people are saying</h1></article>
      </div>
      <div class="cf mt4">
        <div class="w-100 w-50-l w-50-m fl">
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns">
                “This is a good easy programme that anyone can fit into their day”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                "Do it, it works"
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns navy">
                “Big thanks for getting me to focus”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “I like the daily prompts, the encouragement and the ideas. It helped me to get up and moved a bit more.
                Thank you!”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pa4">
              <h3 class="f4 b ma0-ns pa0-ns navy">
                “This programme has made me look at life not as a routine but an adventure. Each day it gave me loads to
                think about.”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 ma0-ns pa0-ns navy">
                “I like the daily prompts, the encouragement and the ideas. It helped me to get up and moved a bit more.
                Thank you!”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Great idea to help motivate each day”
              </h3>
            </div>
          </article>
        </div>
        <div class="w-100 w-50-l w-50-m fl">
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw4 w-100-l ma0-ns pa0-ns navy">
                "I really enjoyed the programme, for once the day started up with me"
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pa3 ph4">
              <h3 class="f4 b w-90-l ma0-ns pa0-ns navy">
                “This programme lets you make small changes that will change your life”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Makes you more aware of everyday actions you can do”

              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Really enjoyed the challenge”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Made me think about doing things”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Thank you for the kick up the … I needed. My big takeaway is exercise when you get up gives you a buzz
                which lasts all day. Highly recommend as a really good procrastination buster.”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Very good for coach potatoes”
              </h3>
            </div>
          </article>
          <article class="pv3 fl w-100 pa2">
            <div class="bg-white box-shadow br4 pv3 ph4">
              <h3 class="f4 fw3 w-90-l ma0-ns pa0-ns navy">
                “Great to remind you to leave or move away from your desk to do something at least once a day”
              </h3>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <div class="back-to-top-btn">
    <vm-back-top :bottom="100" :duration="1000" :timing="'ease'" class="blue-dark-color">
      <div class="top"><i class="up-arrow"></i></div>
    </vm-back-top>
  </div>
  <section class="cf center w-100 ph3 ph4-m ph6-l bg-white black relative">
    <div class="mw8 center tl ph0 ph3-m ph3-l">
      <div class="cf mt0 tc  pb6 pb5-m pb5-l pt2 pt5-m pt5-l mt2 mb2">
        <div class="fl w-100 w-50-m w-50-l pa2">
          <div class="dtc pb2 pb0-m pb0-l">
            <h1 class="f3 f3-m f2-l mv0 tl fw2 navy pt3 lh-copy lh-title-m lh-title-l">Would you be interested to parter with us to
              offer a programme?</h1>
          </div>
          <div class="db absolute bottom-2 bottom-1-m bottom-0-l left-0 right-0 tc tl-m tl-l relative-m relative-l tl">
            <a class="f5 fw5 link dim br-pill ph4 mb2 mt2 mt4-m mt4-l dib white blue-dark-color pt2 pb2 lh-copy avenir pointer w-90 w-auto-m w-auto-l tc">BECOME A PARTNER
            </a>
          </div>
        </div>
        <div class="fl w-100 w-50-m w-50-l pa0 pa2-m pa2-l">
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-1.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-2.jpg" class="br-100 w-90" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-3.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-4.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-1.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-2.jpg" class="br-100 w-90" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-3.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
          <article class="fl w-25 w-25-m w-25-l pa2">
            <div class="tc shadow-default br3">
              <img src="../../assets/images/patner-4.jpg" class="br-100 w-75" title="Photo of a kitty staring at you">
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <footer class="cf w-100 pa1 pa1-m pa5-l ph6-ns bg-navy white" id="feafooter">
    <div class="dt w-100 mw8 ph3 ph4-m ph4-l tl center">
      <div class="cf">
        <div class="fl w-100 w-50-l w-50-m avenir">
          <h3 class="f4 fw6 w-90-l ma0-ns pa0-ns white">
            <span class="mr2">Reach us</span> <a class="f5 fw5 white no-underline white"
                                                 href="mailto:activepathways@smartplayds.com">activepathways@smartplayds.com</a>
          </h3>
          <h3 class="f4 fw6 w-90-l ma0-ns pa0-ns white mt4-ns">
            Join our community on <a href="https://www.facebook.com/getwalkers/"
                                     class=" white underline" target="_blank">Facebook</a>
          </h3>
          <div class="pt4">
            <a href="/terms#privacy" target="_blank" class="f6 fw5 white mt1">Privacy Policy</a>
          </div>
          <div class="pt4">
            <a href="/terms#terms" target="_blank" class="f6 fw5 white mt1">Terms Of Use</a>
          </div>
        </div>
        <div class="fl w-100 w-50-l w-50-m">
          <h3 class="f5 fw6 w-90-l ma0-ns pa0-ns white">Active Pathways is an initiative of:
            SMARTplayds Limited</h3>
          <p class="f6 fw5 white mt2">Collaborate Works - Steward House <span class="underline">14 Commercial Way</span>
          </p>
          <p class="f6 fw5 white mt1">Woking GU21 6ET</p>
          <p class="f6 fw5 white mt1">+44 - 203 695 2189</p>
          <p class="f6 fw5 white mt1">Registered in England and Wales 9462175</p>
        </div>
      </div>
    </div>
  </footer>
  <SignIn v-if="activeModal === 'signin'" @closeModal="closeModal()"
          @openForgetPassword="activeModal = 'forgetPassword'; openModal()"
          @openSignUp="activeModal = 'signup'; openModal()"
          :activeStatus="activeModal === 'signin'"></SignIn>
  <SignUp v-if="activeModal === 'signup'" @closeModal="closeModal()" @openSignIn="activeModal = 'signin'; openModal()"
          :activeStatus="activeModal === 'signup'"></SignUp>
  <ForgetPassword v-if="activeModal === 'forgetPassword'" @closeModal="closeModal()"
                  @openSignIn="activeModal = 'signin'; openModal()"
                  :activeStatus="activeModal === 'forgetPassword'"></ForgetPassword>
</div>
