.read-more {
  color: #408BC9;
  padding-bottom: 21px;
  margin-bottom: -18px;
}
.read-more a {
  color: #408BC9;
  text-decoration: none;
}
.read-more a:hover {
  color: #408BC9;
}
.read-more a:after {
 content: "";
  display: inline-block;
  background-color:#408BC9;
  width: 28px;
  height: 7px;
  border-radius: 100px;
  margin-left: 20px;
}
