<section class="hero-component">
  <div id="pane-what-is-npm" class="pane bg-contain bg-top" style="background-color: #206F9C; background-image: url(../../assets/images/walk.jpg);">
    <div class="height-enforcer hidden-lg hidden-md" style="padding-bottom: 30%"></div>
    <div class="container pv6">
      <div class="mw8 center">
        <div class="w-40-ns w-90 pa2">
          <h2 class="f2 fw6 mt0">What is npm?</h2>
          <p class="lh-copy ">Use npm to install, share, and distribute code; manage dependencies in your projects; and share &amp; receive feedback with others.</p>
          <div class="mb4"><a id="what-is-npm-install-npm" data-event-name="ashley-npm-explainer" href="/get-npm" class="btn btn-primary">Install npm</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
