<div class="wrapper bg-navy">
  <ProgramHeader></ProgramHeader>
  <section class="hero-component">
    <div id="pane-what-is-npm" class="pane bg-contain bg-top"
         style="'background-image':`url(${require(../../assets/images/walk.jpg)})`">
      <div class="container pv6">
        <div class="mw8 center">
          <div class="w-40-ns w-90 pa2 white tl">
            <h2 class="f1 fw6 mt0">Program title</h2>
            <p class="lh-copy">Use npm to install, share, and distribute code; manage dependencies in your projects; and
              share &amp; receive feedback with others.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
