<div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
  <div class="w-100 pa3">
    <div class="cf db">
      <div class="w-40 fl pa1 tl f5 fw6 navy">{{(challengeData['programme'] || {})['name']}}</div>
      <router-link tag="div" :to="{ name: 'challenge-detail', params: { id: challengeData['id'] } }" class="w-60 fl pa1 f6 fw5 tr blue pointer" v-if="!isChallengeDetail">CHECK CHALLENGE DETAILS</router-link>
      <router-link tag="div" :to="{ name: 'dashboard'}" class="w-60 fl pa1 f6 fw5 tr blue pointer" v-else="!isChallengeDetail"> GO BACK </router-link>
    </div>
    <div class="cf db">
      <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
        <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
          Day {{$differenceDays(challengeData['challengeDate'], (challengeData['user'] || {})['createdAt'])}} - {{challengeData['challengeDate'] | parseDate('DD/MM')}}
          <!--Day {{indexOfCurrentChallenge}} - {{challengeData['challengeDate'] | parseDate('DD/MM')}}-->
        </h2>
        <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
          {{(challengeData['challenge'] || {})['name']}}
        </h1>
        <p class="fw4 f6 f5-ns mt0 mb3 w-100 w-80-ns center navy">
          {{(challengeData['challenge'] || {})['shortDescription']}}
        </p>
        <div>
          <a @click.stop.prevent="acceptOrSkip('accept')" class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="javascript:void(0)">
            ACCEPT TRAIN
          </a>
          <a @click.stop.prevent="acceptOrSkip('skip')" class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib blue b--blue ba pt2 pb2 lh-copy ml2" href="javascript:void(0)">
            SKIP TRAIN
          </a>
        </div>
      </article>

    </div>
  </div>
</div>
