<div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
  <div class="w-100 pa3">
    <div class="cf db">
      <div class="w-40 fl pa1 tl f5 fw6 navy">Program 1</div>
      <div class="w-60 fl pa1 f6 fw5 tr blue">CHECK CHALLENGE DETAILS</div>
    </div>
    <div class="cf db">
      <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
        <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
          Day 3 - 01/08
        </h2>
        <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
          Enjoy a short walk after lunch to power your brain
        </h1>
        <p class="fw4 f6 f5-ns mt0 mb3 w-100 w-80-ns center navy">
          This will change things. And we want you to be involved. This text needs to be longer for testing sake.
          Sign up for beta access or learn more about x.
        </p>
        <div>
          <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="/">
            ACCEPT TRAIN
          </a>
          <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib blue b--blue ba pt2 pb2 lh-copy ml2" href="/">
            SKIP TRAIN
          </a>
        </div>
      </article>

    </div>
  </div>
</div>
