
.menu-header a {
  text-decoration: none;
}

.menu-header a:hover {
  color: #fff;
}


.menu-header a.active {
  color: #fff;
}

.header-baner {
  width: 100%;
}

.desktop-menu {
  display: block;
}

.mobile-menu {
  display: none;
}

body.overlay-bg .bg-overlay {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2222;
  padding: 30px;
  background-color: rgba(0, 27, 68, 0.22);
  transition: all 0.7s ease;
}
.mobile-expanded-nav {
  position: fixed;
  width: 240px;
  top: 0;
  bottom: 0;
  left: -240px;
  z-index: 3333;
  padding: 30px;
  background-color: #001b44;
  transition: all 0.4s ease;
}
.mobile-expanded-nav.isOpen {
  left: 0;
}
.hamburger-toggle span:nth-of-type(2) {
  top: 6px;
}
.hamburger-toggle span:nth-of-type(3) {
  top: 12px;
}
.hamburger-toggle.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.hamburger-toggle.active .top {
  transform: translateY(1px) translateX(0) rotate(45deg);
  background: #fff;
}
.hamburger-toggle.active .middle {
  opacity: 0;
}
.hamburger-toggle {
  position: fixed;
  top: 3.3%;
  left: 5%;
  height: 14px;
  width: 20px;
  display: none;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.hamburger-toggle span {
  background: #fff;
  border: none;
  height: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
/*@media screen and (min-width: 589px) and (max-width: 591px) {
  .logo-program-page {
    font-size: 1.25rem;
    margin-left: 50px;
  }
}*/
@media (max-width: 588px) {
  .desktop-menu {
    display: none;
  }

  .mobile-expanded-nav {
    display: block;
  }
  .hamburger-toggle {
    display: block;
  }

  .fixed-header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 66;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }
  .space-logo {
    width: 100%;
  }
}
