<div class="w-100 bg-white black br3 mb5">
        <span class="w-100 db bg-washed-blue br4 br--top bt3">
          <span class="w-30 db br4 blue-dark-color pa1"></span>
        </span>
  <div class="w-100 pa3">
    <div class="cf db">
      <div class="w-40 fl pa1 f5 fw6 tl navy">{{(challengeData['programme'] || {})['name']}}</div>
      <router-link tag="div" :to="{ name: 'challenge-detail', params: { id: challengeData['id'] } }" class="w-60 fl pa1 f6 fw5 tr blue pointer" v-if="!isChallengeDetail">CHECK CHALLENGE DETAILS</router-link>
      <router-link tag="div" :to="{ name: 'dashboard'}" class="w-60 fl pa1 f6 fw5 tr blue pointer" v-else="!isChallengeDetail"> GO BACK </router-link>
    </div>
    <div class="cf db o-90">
      <article class="w-100 mw7 center ph0 ph5-ns tc br2 pv3">
        <h2 class="fw4 f4 tc lh-copy mt0 mb3 navy">
          Day {{dayNum}} - {{challengeData['challengeDate'] | parseDate('DD/MM')}}
        </h2>
        <h1 class=" b f4 f2-ns navy lh-title mt0 mb3">
          Congratulation!
        </h1>
        <h1 class=" f5 f3-ns strike fw6-ns gray lh-title mt0 mb3">
          {{(challengeData['challenge'] || {})['name']}}
        </h1>
        <p class="fw5 f6 mt0 mb3 w-100 w-80-ns center navy">
          Well done, how do you feel about it?
        </p>
        <div class="cf db">
                <span @click.stop.prevent="setRating(1)" class=" dib mr1 mood-icons">
                  <img src="../../../assets/images/smile1.svg" alt="Mountains" class="smile-mood-icon w2"/>
                  <img src="../../../assets/images/smile1selected.svg" alt="" :class="{'selected-smile-icon hvr-smile-icon active-mood-icon': (l_rating===1), 'selected-smile-icon hvr-smile-icon': (l_rating !== 1)}"/>
                </span>
          <span @click.stop.prevent="setRating(2)" class=" dib mr1 mood-icons">
                  <img src="../../../assets/images/smile2.svg" alt="Mountains" class="smile-mood-icon w2"/>
                  <img src="../../../assets/images/smile2selected.svg" alt="" :class="{'selected-smile-icon hvr-smile-icon active-mood-icon': (l_rating===2), 'selected-smile-icon hvr-smile-icon': (l_rating !== 2)}"/>
                </span>
          <span @click.stop.prevent="setRating(3)" class=" dib mr1 mood-icons">
                  <img src="../../../assets/images/smile3.svg" alt="Mountains" class="smile-mood-icon w2"/>
                  <img src="../../../assets/images/smile3selected.svg" alt="" :class="{'selected-smile-icon hvr-smile-icon active-mood-icon': (l_rating===3), 'selected-smile-icon hvr-smile-icon': (l_rating !== 3)}"/>
                </span>
          <span @click.stop.prevent="setRating(4)" class=" dib mr1 mood-icons">
                  <img src="../../../assets/images/smile4.svg" alt="Mountains" class="smile-mood-icon w2"/>
                  <img src="../../../assets/images/smile4selected.svg" alt="" :class="{'selected-smile-icon hvr-smile-icon active-mood-icon': (l_rating===4), 'selected-smile-icon hvr-smile-icon': (l_rating !== 4)}"/>
                </span>
          <span @click.stop.prevent="setRating(5)" class=" dib mr1 mood-icons">
                  <img src="../../../assets/images/smile5.svg" alt="Mountains" class="smile-mood-icon w2"/>
                  <img src="../../../assets/images/smile5selected.svg" alt="" :class="{'selected-smile-icon hvr-smile-icon active-mood-icon': (l_rating===5), 'selected-smile-icon hvr-smile-icon': (l_rating !== 5)}"/>
                </span>
        </div>
        <div class="w-100 center mt2">
          <textarea v-show="notesStatus!=='Add'" v-model="notes" id="comment" name="comment" class="h4 textarea border-box hover-black w-100 measure ba b--black-20 pa2 br2" aria-describedby="comment-desc"></textarea>
        </div>
        <div >
          <a @click.stop.prevent="changeStatus" class="f6 fw5 link br-pill ph4 mb2 mt4 dib white blue-dark-color pt2 pb2 lh-copy" href="javascript:void(0)">{{notesStatus==='Add'? 'ADD NOTES': (notesStatus==='Save'? 'SAVE NOTES': 'UPDATE NOTES')}}
          </a>
        </div>
      </article>

    </div>
  </div>
</div>
