.numberlist ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin-bottom: 4em;
  /*margin-left: 15px;*/
  position: relative;

}

.numberlist ol ol {
  margin: 0 0 0 2em;
}

.numberlist li {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 0;
  margin-top: 0;
  margin: 0 0 2.7em;
  color: #fff;
  text-decoration: none;

}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #6e7d92;
}

/* End css list with numeber circle background -------------- */
/*-Gradient color libary*/
.gradient-blue {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.gradient-blue-1 {
  background: linear-gradient(11deg, #0fb8ad -15%, #1fc8db 56%, #2cb5e8 75%);
}

.blue-dark-color {
  background-color: #408BC9;
}

.box-shadow-grey {
  box-shadow: 0px 0px 34px 6px #e7e4e46b;
}

.bggrey-light {
  background-color: #dae8f5;
}

.bg-light-grey-moon {
  background-color: #f4f7fc;
}

.color-light {
  color: #1f436f;
}

.dark-light {
  color: #cae3f1;
}

.color-light-blue {
  color: #3e8ecd;
}

.height-480 {
  height: 480px;
}

.small-font {
  font-size: 12px;
}

.gradient-h {
  background: rgb(14, 51, 96); /* Old browsers */
  background: -moz-linear-gradient(left, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e3360', endColorstr='#3678b4', GradientType=1); /* IE6-9 */
}

.gradient-right {
  background: rgb(14, 51, 96); /* Old browsers */
  background: -moz-linear-gradient(right, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left, rgb(14, 51, 96) 2%, rgb(54, 120, 180) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e3360', endColorstr='#3678b4', GradientType=1); /* IE6-9 */
}

.nav-border-b {
  border-bottom: 1px solid rgba(64, 139, 201, 0.1);
}

.box-shadow {
  box-shadow: 0px 0px 19px 3px #c5dbf0;
}

.shadow-default {
  box-shadow: 0px 0px 28px 3px #00000033;
}

/*---modal--Libray-----*/
.animation {
  position: relative;
  animation: animatetop 0.4s;
  -webkit-animation: animatetop 0.4s;
  -moz-animation: animatetop 0.4s;
  transition: all .75s ease;
}

@-webkit-keyframes animatetop {
  from {
    top: -200px;
    opacity: 0
  }
  to {
    top: -200px;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -200px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }
}

@media (max-width: 480px) {
  .welcome-bg {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

/*-------modal-frame----*/
.modal-frame {
  /*height: 480px;*/
  max-width: 720px;
  margin: auto;
  position: relative;
  z-index: 4;
}

.modal-signin {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
}

.modal-signin {
  background-color: rgba(0, 0, 0, 0.62);
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
}

.d-block {
  display: block !important;
}

.fade.show {
  opacity: 1;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;

}

.fade.show ~ body {
  overflow: hidden;
}

.modal-dialog {
  position: relative;
  width: auto;
  /*margin: 0.5rem;*/
  transition: 1s linear;

}

.modal-signin.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  visibility: hidden;
  height: 100%;
}

.modal-signin.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
  visibility: visible;
}

body.modal-open {
  overflow: hidden;
}

.vCalender .vdp-datepicker__calendar {
  width: 100%;
  border: transparent;
}

.vCalender .vdp-datepicker__calendar header {
  display: block;
  line-height: normal;
  padding-bottom: 50px;
}

.vCalender .vdp-datepicker__calendar .cell.day-header {
  font-size: 100%;
  white-space: nowrap;
  cursor: inherit;
  color: #bec1c6;
  font-weight: 500;
  /*margin-bottom: 50px;*/
}

.vCalender .vdp-datepicker__calendar span {
  color: #868895;
  font-size: 14px;
  font-weight: 500;
  border: transparent;
  width: 14.285714285714286%;
}

.vCalender .vdp-datepicker__calendar .cell {
  color: #868895;
  font-size: 14px;
  font-weight: 500;
  border: transparent;
}

.vCalender .vdp-datepicker__calendar header .next {
  width: 30px;
  height: 30px;
  text-indent: -10000px;
  position: absolute;
  right: 22px;
  background: #edf0f5;
  border-radius: 50%;
}

.vCalender .vdp-datepicker__calendar header .prev {
  width: 30px;
  height: 30px;
  text-indent: -10000px;
  position: absolute;
  right: 70px;
  background: #edf0f5;
  border-radius: 50%;
}

.vCalender .vdp-datepicker__calendar header .prev:after {
  border: solid #2e69a5;
  border-width: 0 2px 2px 0;
  display: inline-block;
  width: 3px;
  height: 3px;
  padding: 3px;
  margin: auto;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.vCalender .vdp-datepicker__calendar header .next:after {
  border: solid #2e69a5;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  width: 3px;
  height: 3px;
  margin: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.vdp-datepicker__calendar header .next:after, .vdp-datepicker__calendar header .prev:after {
  content: "";
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0;
}

.vCalender .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vCalender .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vCalender .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: transparent;
  background-color: #001c44;
  color: #fff;
}

.vCalender .vdp-datepicker__calendar header .up {
  float: left;
  width: auto;
  padding-left: 22px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #001b44;
}

.vCalender .vdp-datepicker__calendar header .up:hover {
  background: transparent !important;
}

.vCalender .vdp-datepicker__calendar header .prev:hover,
.vCalender .vdp-datepicker__calendar header .next:hover {
  background: transparent !important;
}
