.numberlist ol{
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  border-left: 2px solid #418bca;

}
.numberlist ol ol{
  margin: 0 0 0 2em;
}

.numberlist li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 1.5em;
  *padding: .4em;
  margin: 2em 0;
  color: #444;
  text-decoration: none;

}

.numberlist li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.10em;
  top: 70%;
  margin-top: -1.3em;
  background: #418bca;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color:#fefeff;
}
/* End css list with numeber circle background -------------- */
.mr100- {
  margin-right: -87px;
}
.ml100- {
  margin-left: -87px;
}
/*-Gradient color libary*/
.gradient-blue{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.gradient-blue-1{
  background: linear-gradient(11deg, #0fb8ad 0%, #1fc8db 57%, #2cb5e8 75%);
}
.blue-dark-color {
  background-color: #408BC9;
}
.box-shadow-grey {
  box-shadow: 0px 23px 34px 6px #e7e4e4;
}
