<div class="wrapper avenir">
  <!--<header class="cf w-100 pl3 pr3 ph0-ns bg-white">-->
  <!--<div class="w-100 w-80-ns center">-->
  <!--<h3 class="f3 fw2 dark-blue pt2 pb2">DASHBOARD PROPOSAL</h3>-->
  <!--</div>-->
  <!--</header>-->
  <section class="cf w-100 ph0 ph6-l pt4 gradient-blue">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
      <div class="w-100 tr">
        <div class="f6 fw6 link br-pill ph4 mb4 dib tr white pt2 pb2">{{user.name.first}} {{user.name.last}} ({{user.email}})</div>

        <a class="f6 fw6 link br-pill ph4 mb4 dib tr white blue-dark-color pt2 pb2"
           style="cursor: pointer" @click="logout()">Logout</a>
      </div>
      <template v-if="userChallengeStatePending && userChallengeStatePending['status']">
        <component :is="statusComponents[userChallengeStatePending['status']]"
                   :challengeData="userChallengeStatePending" @challengeUpdated="challengeUpdated($event)"></component>
      </template>
      <template v-else>
        <component :is="statusComponents['NO_CHECKIN']"></component>
      </template>
    </div>
  </section>
  <section class="cf w-100 ph0 ph6-l relative">
    <div class="dt w-100 mw8 ph3 ph3-m ph3-l center">
      <div class="gradient-blue-1 w-100 left-0 right-0 absolute h4 z-0"></div>
      <div class="cf relative">
        <div class="fl w-100 w-50-ns pl0 pr0 pr2-ns  ">
          <div class="bg-white br3 box-shadow-grey mb4 mb0-ns">
            <ul class="list pl0 tl mt0 mb0">
              <li class="pa3 pa4-ns bb b--black-05 pb5 pb5-l">
                <b class="db f3 mb1 w-50 w-70-l fl navy">My journal</b>
                <div class="db small-font mb1 tr fw6 fr w-50 w-30-l pt2 pt2-l pt0-m pr3 color-light-blue pointer"
                     @click.prevent="activeModal = 'notesmodal'; openModal()">SEE ALL NOTES
                </div>
              </li>
            </ul>
            <div class="scroll-my-journal">
              <ul class="list pl0 tl mt0" v-if="userJournal && userJournal.length">
                <li class="pa3 pa3-ns bb b--black-05" v-for="challenge in userJournal">
                <span class="f5 db lh-copy measure color-light">
                  <span class="fw5">{{(challenge['challenge'] || {})['name']}}</span>
                  <span class="fw3 db truncate w5 w-100-l w-100-m">{{challenge['notes']}}</span></span>
                </li>
              </ul>
              <div v-else>
                <div class="pa3 pa3-ns mt3">
                    <span class="f5 db lh-copy measure color-light">
                      <span class="fw5">No Journals for the user</span>
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fl w-100 w-50-ns pl0 pl2-ns">
          <div class="bg-white br3 box-shadow-grey vCalender pt4 pb3">
            <!--<datepicker :inline="true"></datepicker>-->
            <v-calendar
              mode='range'
              tint-color='#f142f4'
              :attributes='selectedDates'
              :theme-styles='themeStyles'
              is-single-paned
              is-inline>
            </v-calendar>
          </div>
        </div>

        <div class="fl w-100 mt4 ">
          <div class="bg-white br3 box-shadow-grey">
            <ul class="list pl0 mt0 tl">
              <li
                class="flex items-center lh-copy pa4 ph0-l bb b--black-05">
                <b class="db f3 mb1 w-50 w-70-l w-70-m fl navy pl2 pl4-m pl4-l">Activity log</b>
              </li>
              <li class="flex items-center lh-copy pv3 pv4-m pv4-l ph3 ph4-l ph4-m ph0-m bb b--black-05"
                  v-if="!userChallengeStateList || !userChallengeStateList.length">No activities found
              </li>
              <li
                class="flex items-center lh-copy pv3 pv4-m pv4-l ph3 ph4-l ph4-m ph0-m bb b--black-05 "
                v-for="(list, i) in userChallengeStateCompletedOrSkipped">
                <img class="w2 h2 w2-ns h2-ns br-100 ml2 ml4-m ml4-l" src="../../assets/images/smile4selected.svg"/>
                <div class="pl3 flex-auto">
                  <span class="f5 fw5 db color-light">{{(list.programme || {}).name}} - Day {{$differenceDays(list.challengeDate, (list.user || {}).createdAt)}} - {{list.challengeDate | parseDate('DD/MM')}}</span>
                  <span class="f6 f4-m f4-l fw5 db color-light">{{list.status}}</span>
                  <span class="f6 f4-m f4-l fw5 db color-light">{{list.challenge.shortDescription}}</span>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="cf w-100 bg-light-gray mt5">
    <div class="w-80 center tc pv3 pv4-ns">
      <div class="cf">
        <div class="fl w-100">
          <h3 class="f5 fw6 w-100 black-40 ma0">
            <span class="mr2">Reach us</span> <a class="f6 fw5 navy no-underline white"
                                                 href="mailto:activepathways@smartplayds.com">activepathways@smartplayds.com</a>
          </h3>
          <h3 class="f5 fw6 w-100 black-40 mt2-ns mb2-ns">
            Join our community on <a href="https://www.facebook.com/getwalkers/"
                                     class=" navy underline" target="_blank">Facebook</a>
          </h3>
          <p class="small-font fw5 black-40 mt1 mb0-ns">Copyright © All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <NotesModal v-if="activeModal === 'notesmodal'" @closeModal="closeModal()"
              :activeStatus="activeModal === 'notesmodal'"></NotesModal>
</div>
