.menu-header a {
  color: rgba(64, 139, 201, 0.4);
  padding-bottom: 21px;
  margin-bottom: -18px;
  text-decoration: none;
}
.menu-header a:hover {
  color: #408BC9;
}
.menu-header a:hover:after {
  color: #408BC9;
  content: "";
  display: block;
  background-color: #408BC9;
  width: 42px;
  margin: 18px auto 0;
  padding-bottom: 7px;
  margin-bottom: -25px;
  border-radius: 100px;
}
.menu-header a.active {
  color: #408BC9;
}
.menu-header a.active:after {
  color: #408BC9;
  content: "";
  display: block;
  background-color: #408BC9;
  width: 42px;
  margin: 18px auto 0;
  padding-bottom: 7px;
  margin-bottom: -25px;
  border-radius: 100px;
}
