<header class="avenir h-100 " v-if="!showHeader">
  <div class=" header-baner">
    <div class=" pb5 pb6-m pb7-l  ph3 ph3-m ph3-l relative vh-75 vh-100-m vh-100-l">
      <nav class="pt3 dt w-100 mw8 center bb nav-border-b
">
        <div class="w-20 fl pa2 tl ">
          <router-link :to="{ name: 'landingpage' }" class="no-underline">
            <img src="../../assets/images/site-logo.png"/>
          </router-link>
        </div>
        <div class="fl w-80 pa3 pr0 tr menu-header">
          <router-link tag="a" :to="{ name: 'landingpage' }"
                       class="f3 b active dn dib-ns pv2 ml4 ">Home
          </router-link>
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f3 b dn dib-ns pv2 ml4">
            Menu
          </router-link>
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f3 b dn dib-ns pv2 ml4 ">
            Menu
          </router-link>
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f3 b dn dib-ns pv2 ml4 ">
            Menu
          </router-link>
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f3 b dn dib-ns pv2 ml4  ">
            Menu
          </router-link>
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f3 b dn dib-ns pv2 ml4 ">
            Menu
          </router-link>
        </div>
      </nav>
      <section class="hero ph3 w-40">
        <div class="db fr w-40-l w-60-m w-100 center black ph3 ph0-ns absolute bottom-0 right-0 ">
          <div class="bg-white welcome-bg black pv2 ph3 ph6-l ph3-m br--left-l br--left-m br--top br4 tl">
            <h1 class="f1 f1-ns black mb0 mt2-m">Welcome </h1>
            <p class="lh-copy-l f5 fw5 black mt0 avenir"> Take your first steps<br> to become more physically active
            </p>
            <div class="cf">
              <a class="f5 b link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy avenir"
                 @click.prevent="activeModal = 'signup'">Sign up here
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <SignIn v-show="openModal === 'signin'" @closeModal="closeModal()"  @openForgetPassword="activeModal = 'forgetPassword'" @openSignUp="activeModal = 'signup'"
          :activeStatus="activeModal === 'signin'"></SignIn>
  <SignUp v-show="openModal === 'signup'" @closeModal="closeModal()" @openSignIn="activeModal = 'signin'"
          :activeStatus="activeModal === 'signup'"></SignUp>
  <ForgetPassword v-show="activeModal === 'forgetPassword'" @closeModal="closeModal()" @openSignIn="activeModal = 'signin'" :activeStatus="activeModal === 'forgetPassword'"></ForgetPassword>
</header>
