<header class="avenir h-100" v-if="this.showHeader">
  <div class="cover bg-left bg-center-l" style="background-image: url(http://mrmrs.github.io/photos/u/011.jpg)">
    <div class="bg-black-80 pb5 pb6-m pb7-l relative vh-75">
      <nav class="dt w-100 mw8 center bb b--white-50">
        <div class="w-20 fl pa2 tl mt3 ">
          <a href="/" class="f3 fw6 white no-underline ">
           Logo
          </a>
        </div>
        <div class="fl w-80 pa3 tr">
          <router-link tag="a" :to="{ name: 'landingpage' }" class="f4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Home</router-link>
          <router-link tag="a" :to="{ name: 'dashboard' }" class="f4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Menu</router-link>
          <router-link tag="a" :to="{ name: 'dashboard' }" class="f4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Menu</router-link>
          <router-link tag="a" :to="{ name: 'dashboard' }" class="f4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Menu</router-link>
          <router-link tag="a" :to="{ name: 'dashboard' }" class="ff4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Menu</router-link>
          <router-link tag="a" :to="{ name: 'dashboard' }" class="f4 fw6 hover-white no-underline white-70 dn dib-ns pv2 ph3">Menu</router-link>
        </div>
      </nav>
        <div class="db fr w-40-ns w-60-m w-100 center black ph3 ph0-ns absolute bottom-0 right-0 ">
        <div class="bg-white black pv2 ph3 ph6-l ph3-m br--left br--top br4 tl">
          <h1 class="f1 f1-ns black mb0 mt2-m">Welcome </h1>
          <p class="lh-copy-l black mt0"> Take your first steps to become more physically active
          </p>
          <div class="cf">
            <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white blue-dark-color pt2 pb2 lh-copy" href="#0">Sign up here</a>
            <a class="f6 fw5 link dim br-pill ph4 mb2 mt3 dib white bg-navy pt2 pb2 lh-copy ml2" href="#0">*Inverse</a>
          </div>
        </div>
        </div>
    </div>
  </div>
</header>

